langgraph
langchain
langchain-core
langchain-google-genai
langchain-community
langchain-huggingface
chromadb
sentence-transformers
fastapi
uvicorn
pydantic
python-dotenv
resend
python-multipart
pypdf
langchain-chroma
google-generativeai
